# Python
/build
/bin
/dist
/include
/lib
/local
/*.egg-info
/*.egg
*.pyc
*.pyo

# Test artifact
/.coverage

# Don't check in unencrypted key
/decrypted_key
/encrypted_key

# PHP Examples
/transipAPI

# Generated documentation
/.*html
docs/_build

# Editors
/.idea
/*.iml
