sudo: no
language: python
cache: pip

python:
  - "3.6"
  - "3.5"
  - "3.4"
  - "2.7"

install:
 - pip install -r dev_requirements.txt

script: 
 - nosetests --rednose --with-coverage --cover-package=transip
 - pylint --rcfile=.pylintrc transip

# Deploy a new release to PyPi for every new tag on the 'master' branch on the
# repository 'benkonrath/transip-api'.
deploy:
  provider: pypi
  user: roaldnefs
  password:
    secure: "ahpUlrwDpSzVETim897QkLZNGdK3MUZJWghAd3U9idPaIo/Ax21jgPJ0emRQxBOEmK+ztcxVkm5GKU5IZQYbBbTZeppi+xV0a3MeCwmMIrwDZCYxc8uZPjbqmqLjaO3dd5lNcpOXkDXXhr5LGtUIsRKhI9oLb6l+ZfbmuF4niBw="
  on:
    repo: benkonrath/transip-api
    tags: true
    branch: master
    python: 3.6
